extends /_templates/blocks.pug


append stylus
    :stylus
        #video-popup
            .modal-content
                background #000000
                border none
                border-radius 0

        #options
            h4
                font-size 26px

            span
                font-size 20px
                font-weight bold
                color #42C8C6

        #flexibleformat-lastbox
            background #f7f7f7


        #stats
            h4
                color #42C8C6
                font-size 26px
                font-weight bold

                span
                    margin-top 10px
                    font-size 46px

        .carousel-indicators
            bottom -1rem

            li
                display inline-block
                width 10px
                height 10px
                margin 10px
                text-indent 0
                cursor pointer
                border none
                border-radius 50%
                background-color #0680FC
                opacity 0.4

                &.active
                    width 10px
                    height 10px
                    margin 10px
                    background-color #0680FC
                    opacity 1

        .carousel-control-next-icon:after
            content '→'
            font-size 30px
            color #0680FC

        .carousel-control-prev-icon:after
            content '←'
            font-size 30px
            color #0680FC


append content
    #video-popup.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-body.embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

    if self.blocks.flexibleformat && self.blocks.flexibleformat.blocks
        #flexibleformat-blocks.d-none
            .row.mt-5
                each b, key in self.blocks.flexibleformat.blocks
                    if key !== 'widget'
                        .col-12.col-sm-4.mb-5
                            .news-block.col-12.h-100.bg-white.box-shadow.p-0
                                img.w-100(src=b.poster)
                                .py-3.px-3
                                    h4.mt-0.mb-2= b.title
                                    +markdown(b.text)
            .row
                - var b = self.blocks.flexibleformat.blocks.widget
                .news-block.col-12
                    .col-12.h-100.bg-white.box-shadow.p-0
                        .row
                            .col-12.col-sm-4
                                #flexibleformat-lastbox.col-12.py-3.px-5.h-100.d-flex.align-items-center
                                    img.w-100(src=b.poster)
                            .col-12.col-sm-8.pt-3.px-4.px-sm-3.text-left
                                h4.mt-0.mb-2= b.title
                                +markdown(b.text)

    if self.blocks.options && self.blocks.options.blocks
        #option-blocks.d-none
            .row.mt-5
                each b in self.blocks.options.blocks
                    .col-12.col-sm-4.mb-3
                        .option-block.col-12.h-100.bg-white.py-4.px-5.box-shadow
                            h4= b.title
                            +markdown(b.text)
                            span.d-block.my-3= b.subtext
                            a.btn.btn-primary.my-2(href=b.button.url)= b.button.title

    if self.blocks.stats && self.blocks.stats.blocks
        #stats-blocks.d-none
            .row.my-5
                each b, id in self.blocks.stats.blocks
                    .stats-block.col-12.col-sm-3.text-center
                        h4
                            = b.title
                            span.stats-value.d-block.mb-2(data-id=id)


append script
    script.
        $(function () {
            $('#decision-img .block-text').addClass('text-center')

            $('#features-img .block-text').removeClass('col-sm-8')
            $('#features-img .block-text').addClass('col-sm-10')

            $('#case-study-1-img .block-text').removeClass('col-sm-8')
            $('#case-study-1-img .block-text').addClass('col-sm-10')

            $('#case-study-2-img .block-text').removeClass('col-sm-8')
            $('#case-study-2-img .block-text').addClass('col-sm-10')
            $('#case-study-2-img .block-text').removeClass('offset-sm-2')

            $('#flexibleformat').removeClass('col-sm-6')
            $('#flexibleformat .block-text').removeClass('col-sm-8')
            $('#flexibleformat .block-text').removeClass('offset-sm-2')
            $('#flexibleformat .block-text').addClass('col-sm-10')
            $('#flexibleformat .block-text').addClass('offset-sm-1')
            $('#flexibleformat .block-text').append($('#flexibleformat-blocks').html())
            $('#flexibleformat-blocks').remove()

            $('#options').removeClass('col-sm-6')
            $('#options .block-text').removeClass('col-sm-8')
            $('#options .block-text').removeClass('offset-sm-2')
            $('#options .block-text').addClass('col-sm-10')
            $('#options .block-text').addClass('offset-sm-1')
            $('#options .block-text').append($('#option-blocks').html())
            $('#option-blocks').remove()

            $('#stats').removeClass('col-sm-6')
            $('#stats .block-text h2').after($('#stats-blocks').html())
            $('#stats-blocks').remove()

            $('a[data-target="#video-popup"]').click(function () {
                $('#video-popup iframe').attr('src', $(this).attr('href'))
            })

            $('#video-popup').on('hide.bs.modal', function () {
                $('#video-popup iframe').attr('src', '')
            })

            //- $('#how-videos').append($('#how-carousel'))
            //-
            //- $('a[href="#carousel-next"]').click(function () {
            //-     $('#how-carousel').carousel('next')
            //- })
            //-
            //- $('#how-carousel').on('slid.bs.carousel', function () {
            //-     var id = $('#how-carousel').find('.carousel-item.active').data('id')
            //-
            //-     $('#carousel-text').html($('#carousel-text-' + id).html())
            //- })
            //- $('#how-carousel').trigger('slid.bs.carousel')

            var statsSet = false
            $(window).on('resize scroll', function () {
                var elementTop = $('#stats').offset().top
                var elementBottom = elementTop + $('#stats').outerHeight()
                var viewportTop = $(window).scrollTop()
                var viewportBottom = viewportTop + $(window).height()

                if (!statsSet && elementBottom > viewportTop && elementTop < viewportBottom) {
                    statsSet = true
                    $.getJSON('/.netlify/functions/stats', function (data) {
                        $('.stats-value').each(function () {
                            var id = $(this).data('id')
                            var value = data[id]

                            $(this).prop('Counter',0).animate({
                                Counter: value
                            }, {
                                duration: 3000,
                                easing: 'swing',
                                step: function (now) {
                                    $(this).text(Math.ceil(now).toLocaleString('#{ self.locale }'))
                                }
                            })
                        })
                    })
                }
            })
        })
