extends /_templates/blocks.pug


block header
    header
        .overlay
        //- video#video-bg(poster='/videos/frontpage-start-bg.jpg', playsinline, autoplay, muted, loop)
        //-     source(src='/videos/frontpage-start-bg.webm', type='video/webm')
        //-     source(src='/videos/frontpage-start-bg.mp4', type='video/mp4')
        .container.d-flex
            .col-12.col-sm-10.offset-sm-1.h-100.w-100.pt-2.pb-3.text-white.text-center.align-self-center
                h1.mb-4= self.header.title
                .row
                    .col-12.col-sm-6.offset-sm-3.h-100.w-100.pt-2.pb-3.text-white.text-center.align-self-center
                        +markdown(self.header.text)
                        .row.mt-4
                            if self.header.video
                                .col-12.col-sm-6.mt-3.text-center.text-sm-right
                                    a.btn.btn-primary.mr-2(href='#introduction', data-toggle='modal', data-target='#introduction')  ►
                                    a(href='#introduction', data-toggle='modal', data-target='#introduction')
                                        strong= self.header.video.title

                            if self.header.demo
                                .col-12.col-sm-6.mt-3.text-center.text-sm-left
                                    a.btn.btn-primary.mr-2(href='#demo', data-toggle='modal', data-target='#demo')  ►
                                    a(href='#demo', data-toggle='modal', data-target='#demo')
                                        strong= self.header.demo.title

                            if self.header && self.header.whatIs
                                a.btn.btn-primary.mr-2(href=self.header.whatIs.url) ?
                                a.mr-5(href=self.header.whatIs.url)
                                    strong= self.header.whatIs.title

                                a.btn.btn-primary.mr-2(href=self.header.whatIs.url, style='line-height:28px')
                                    svg(width='14px', height='13px', viewBox='0 0 14 13', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                            g(transform='translate(-742.000000, -464.000000)', fill='#FFFFFF')
                                                path#icon_speechbubble(d='M753.404241,474.01593 C753.385242,474.142542 753.374792,474.272448 753.374792,474.404707 C753.374792,475.351702 754.187956,476.180087 755.124614,476.635228 L755.124614,477 C753.389517,476.960463 751.594572,476.693592 750.091264,475.20344 C749.735505,475.248154 749.371196,475.271687 748.999763,475.271687 C745.13391,475.271687 742,472.748407 742,469.635844 C742,466.52328 745.13391,464 748.999763,464 C752.865615,464 756,466.52328 756,469.635844 C756,471.404634 754.987345,472.982802 753.404241,474.01593 Z M752,471 C752.552285,471 753,470.552285 753,470 C753,469.447715 752.552285,469 752,469 C751.447715,469 751,469.447715 751,470 C751,470.552285 751.447715,471 752,471 Z M749,471 C749.552285,471 750,470.552285 750,470 C750,469.447715 749.552285,469 749,469 C748.447715,469 748,469.447715 748,470 C748,470.552285 748.447715,471 749,471 Z M746,471 C746.552285,471 747,470.552285 747,470 C747,469.447715 746.552285,469 746,469 C745.447715,469 745,469.447715 745,470 C745,470.552285 745.447715,471 746,471 Z')

                            if self.header && self.header.startUsing
                                a.mr-5(href=self.header.startUsing.url, target='_blank')
                                    strong= self.header.startUsing.title


append content
    #news-blocks.d-none
        if self.data.news
            .row.mt-5
                -
                    var nr = 0
                    var getNr = () => {
                        nr++
                        return nr
                    }
                each b, idx in self.data.news.news
                    if getNr() < 4
                        - var date = new Date(idx)
                        - var dateStr = `${date.toLocaleDateString('en', { day: 'numeric' })} ${date.toLocaleDateString('en', { month: 'long' })} ${date.toLocaleDateString('en', { year: 'numeric' })}`

                        .col-12.col-sm-4.mb-5
                            .news-block.text-left.col-12.h-100.bg-white.box-shadow.p-0
                                a(href=b.url)
                                    .news-block-img.w-100(style=`background-image:url(${b.image})`)
                                    .py-3.px-3.h-50
                                        h4.mt-0.mb-2= b.title
                                        p.text-muted= dateStr + ' - ' + b.author
                                        +markdown(b.text)

    if self.header.video
        +video('introduction', self.header.video.url)

    if self.header.demo
        +video('demo', self.header.demo.url)

    if self.blocks.meet && self.blocks.meet.blocks
        #meet-blocks
            .col-12.text-center
                h2
                    strong= self.blocks.meet.title
            each meet in self.blocks.meet.blocks
                .row.mt-5.box-shadow
                    .meet-image.col-12.col-lg-5.px-0.text-center(style=meet.style)
                        img.img-fluid.align-self-center.p-3(src=meet.image)
                    .col-12.col-lg-7.bg-white.pt-4.px-4
                        h5.mb-2
                            strong= meet.title
                        .row
                            .meet-info.col-12.col-md-auto.mb-3
                                img.mr-2(src='/images/webinar-calendar.svg', width=16, height=16)
                                = meet.date
                            .meet-info.col-12.col-md-auto.mb-3
                                img.mr-2(src='/images/webinar-location.svg', width=16, height=16)
                                = meet.location
                        +markdown(meet.text)
