extends /_templates/main.pug


block content
    .container.pb-5
        .row.pt-5
            .col-12.col-sm-6
                h1= self.title
                +markdown(self.text)
            .col-12.col-sm-6
                h2.col-12= self.help.video
                video(src=self.video)

        .row.pt-5
            h2.col-12= self.help.categoryTopics
            ul.list-unstyled.col-12
                each topic in self.data.topics
                    li
                        a(href=topic.path)= topic.title

        .row.pt-5
            .col-12.col-sm-6
                h2= self.help.search.title
                form
                    input.form-control(placeholder=self.help.search.placeholder)

            .col-12.col-sm-6
                h2= self.help.alternate.title
                a(href="#")= self.help.alternate.request
                a(href="#")= self.help.alternate.feedback
