extends /_templates/main.pug


block content
    .container-fluid
        .row
            .col-12.px-0
                img.box-shadow.img-fluid(src='/assets/images/news/citizen-os-global-expansion-led-by-new-ceo.jpg', alt='Team photo')
    .container
        if self.team
            each person, idx in self.team
                .row.mt-5
                    .col-12.col-md-6.mt-0.mb-5.my-md-5(class=`order-0 order-md-${idx % 2}`)
                        img.box-shadow.img-fluid(src=person.picture, alt=person.name)
                    .col-12.col-md-6.text-center.mt-5.my-md-5(class='order-0')
                        .flex.flex-col.items-center.justify-center.gap-2
                            img.rounded-circle.my-4(src=person.avatar, width=110, height=110, alt=person.name)
                            h4= person.name
                            p= person.title
                            .flex.flex-row.gap-2
                                if person.twitter
                                    a.px-1(href=person.twitter, target='_blank')
                                        img(src='/assets/images/community-twitter.svg', alt='Twitter icon')
                                if person.linkedin
                                    a.px-1(href=person.linkedin, target='_blank')
                                        img(src='/assets/images/community-linkedin.svg', alt='Linkedin icon')
                                if person.email
                                    a.px-1(href='mailto:' + person.email)
                                        img(src='/assets/images/community-email.svg', alt='Email icon')
                            p.mt-3= person.text

        if self.other
            .row.my-5
                .col-12.my-5.text-center
                    h2= self.other.title
                .col-12.col-md-6.col-lg-3.my-3.text-center
                    .flex.flex-col.items-center
                        img.mb-3(src='/assets/images/team/icon-advisor.svg', width=100, height=100, alt='Advisor icon')
                        +markdown(self.other.advisor)

                .col-12.col-md-6.col-lg-3.my-3.text-center
                    .flex.flex-col.items-center
                        img.mb-3(src='/assets/images/team/icon-founder.svg', width=100, height=100, alt='Founder icon')
                        +markdown(self.other.founder)

                .col-12.col-md-6.col-lg-3.my-3.text-center
                    .flex.flex-col.items-center
                        img.mb-3(src='/assets/images/team/icon-design.svg', width=100, height=100, alt='Design icon')
                        +markdown(self.other.design)

                .col-12.col-md-6.col-lg-3.my-3.text-center
                    .flex.flex-col.items-center
                        img.mb-3(src='/assets/images/team/icon-minds.svg', width=100, height=100, alt='Minds icon')
                        +markdown(self.other.minds)
