extends /_templates/main.pug


block content
    .container-fluid
        .row
            each block, id in self.blocks
                .block.col-12.col-sm-6(id=id, class=block.class, style=block.style)
                    if block.text || block.label || block.title || block.button1st || block.button2nd
                        .row.h-100.py-5
                            .block-text.col-12.col-sm-8.offset-sm-2.align-self-center
                                if block.label
                                    h3= block.label
                                if block.title
                                    +markdown('## ' + block.title)
                                if block.text
                                    +markdown(block.text)
                                if block.texts
                                    each t in block.texts
                                        +markdown(t)
                                if block.button1st
                                    a.btn.btn-primary.my-2(href=block.button1st.url, target=block.button1st.target)= block.button1st.title
                                if block.button2nd
                                    .my-2
                                        a.my-2(href=block.button2nd.url, target=block.button2nd.target)= block.button2nd.title
