extends /_templates/main.pug


block content
    .container.mb-4.pb-5
        .row.pt-5
            .col-12.col-sm-10.offset-sm-1
                h1= self.title
                +markdown(self.text)

        .row.mb-4.pt-5
            .col-12.col-sm-10.offset-sm-1
                h2.mb-3= self.help.feedback.title
                a.gray-box.feedback.mr-3.py-2.px-5(href='#')= self.help.feedback.answerYes
                a.gray-box.feedback.py-2.px-5(href='#')= self.help.feedback.answerNo

        .row.pt-5
            .col-12
                .gray-box.col-12
                    .row
                        .col-12.col-sm-5.p-3
                            h2= self.help.search.title
                            form
                                input.form-control(placeholder=self.help.search.placeholder)

                        .col-12.col-sm-7.p-3(style='border-left:1px solid #E5E5E5')
                            h2= self.help.alternate.title
                            ul.list-arrow.list-inline.mt-3.mb-0
                                li.list-inline-item
                                    a(href="#")= self.help.alternate.request
                                li.list-inline-item
                                    a(href="#")= self.help.alternate.feedback


block stylus
    :stylus
        .gray-box
            font-size 14px
            background #f6f6f6
            border 1px solid #e5e5e5
            border-radius 4px

        a.gray-box.feedback
            color #2a2a2a
            font-weight bold
            background #f5f5f5

            &:hover
                color #ffffff
                text-decoration none
                background #0680fc
                border 1px solid #0680fc

        video
            background #6FB6FF
            border 1px solid #e5e5e5

