mixin markdown(text)
    | !{ self.md(text) }


mixin video(id, src)
    .video-popup.modal.fade(id=id, tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-body.embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    script.
        $(function () {
            if (window.location.hash === '##{ id }') {
                $('##{ id } iframe').attr('src', '#{ src }')
                $('##{ id }').modal('show')
            }

            $('##{ id }').on('show.bs.modal', function () {
                $('##{ id } iframe').attr('src', '#{ src }')
            })

            $('##{ id }').on('hidden.bs.modal', function () {
                $('##{ id } iframe').attr('src', '')
            })
        })


mixin header(data, designData)
    - var data = { ...data, ...designData }

    .container-fluid
        .row(style=data.style)
            .data.col-12.col-sm-6
                .row.h-100.py-5
                    .data-text.col-12.col-sm-8.offset-sm-2.align-self-center
                        if data.label
                            h3= data.label
                        if data.title
                            +markdown('## ' + data.title)
                        if data.text
                            +markdown(data.text)
                        if data.texts
                            each t in data.texts
                                +markdown(t)
                        if data.button1st
                            a.btn.btn-primary.my-2(href=data.button1st.url, target=data.button1st.target)= data.button1st.title
                        if data.button2nd
                            .my-2
                                a.my-2(href=data.button2nd.url, target=data.button2nd.target)= data.button2nd.title


mixin appHelp(text)
    script.
        $(function () {
            var urlSearchParams = new URLSearchParams(window.location.search)
            var params = Object.fromEntries(urlSearchParams.entries())

            if (params.app) {
                $('nav, footer').remove()
                $('#help-content').removeClass(['mb-4', 'py-5'])
                $('#help-content').addClass(['py-3'])
                $('.content').addClass(['mt-0'])

                $('a[href^="/"]').each(function () {
                    var url = $(this).attr('href') + '?app=true'
                    $(this).attr('href', url)
                })

                var searchUrl = $('input#search').after('<input name="app" value="true" hidden><input type="submit" style="position:absolute;height:0px;width:0px;border:none;padding:0px;" hidefocus="true" tabindex="-1">')
            }
        })

