nav.navbar.fixed-top.bg-white.py-0.navbar-expand-lg
    a.navbar-brand(href=self.root)
        img(src='/assets/images/citizenos-logo.png', height=37, width=201, alt='Citizen OS logo')

    button.navbar-toggler(
        type='button',
        data-toggle='collapse',
        data-target='#navbar-content',
        aria-controls='navbar-content',
        aria-expanded='false',
        aria-label='Toggle navigation'
    )
        span.navbar-toggler-icon

    #navbar-content.collapse.navbar-collapse.align-self-end
        ul.navbar-nav.ml-auto
            each nav in self.navigation
                li.nav-item.mx-md-4(class={ 'active': self.path === nav.url })
                    a.nav-link.py-md-4.px-md-0(href=nav.url)
                        = nav.title
                        span.sr-only (current)

            li.nav-item.mx-md-4.dropdown
                a#navbar-dropdown.nav-link.py-md-4.px-md-0.dropdown-toggle(
                    href='#',
                    role='button',
                    data-toggle='dropdown',
                    aria-haspopup='true',
                    aria-expanded='false'
                )= self.language
                .dropdown-menu(aria-labelledby='navbar-dropdown')
                    each url, locale in self.otherLocalePaths
                        a.dropdown-item(href=url)= self.language[locale]

        button.btn.btn-link(href=self.platformLink.url, _target='blank')
            strong= self.platformLink.title
