extends /v2/_templates/main.pug

block content
    +section.bg-yellow-10(title=self.sectionExample.title text=self.sectionExample.text)
        +markdown(self.sectionCode)

    +section.bg-blue-50(title='Button')
        .mb-4.flex.gap-2
            +button-primary(title=self.buttonPrimary.title url=self.buttonPrimary.url)
            +button-secondary(icon=self.buttonSecondary.icon title=self.buttonSecondary.title url=self.buttonSecondary.url target=self.buttonSecondary.target)
            +button-primary(icon=self.buttonIcon.icon url=self.buttonIcon.url)
            +button-grey(title=self.buttonGrey.title)
            +button-purple(title=self.buttonPurple.title)
        +markdown(self.buttonCode)
