extends /_templates/main.pug


block content
    .container-fluid
        #header.row.py-5
            .col-12.text-center
                a.navbar-brand(href=self.rootUrl)
                    img.mb-3(src='/images/citizenos-logo-negative.png', height=50, width=270, alt='Citizen OS logo')
            .col-12.col-lg-8.offset-lg-2.text-center
                if self.blocks && self.blocks.header
                    h1= self.blocks.header.title
                if self.blocks.join.button.url && self.blocks.join.button.title
                    a.d-lg-none.btn.btn-primary.mt-4.mb-2(href=self.blocks.join.button.url, target='_blank')= self.blocks.join.button.title

        #text.row.py-5
            if self.blocks && self.blocks.text
                .block.col-12.col-lg-6.offset-lg-1
                    h2=self.blocks.text.title
                    +markdown(self.blocks.text.text)

            if self.blocks && self.blocks.join
                .block.col-12.col-lg-3.offset-lg-1
                    #join.p-4
                        h2= self.blocks.join.title
                        if self.blocks.join.date
                            .row.my-2
                                .col-1
                                    img(src='/images/webinar-calendar.svg', height=22, width=20)
                                .col-auto= self.blocks.join.date
                        if self.blocks.join.time
                            .row.my-2
                                .col-1
                                    img(src='/images/webinar-clock.svg', height=22, width=20)
                                .col-auto= self.blocks.join.time
                        if self.blocks.join.deadline
                            .row.my-2
                                .col-1
                                    img(src='/images/webinar-alarm.svg', height=22, width=20, title='Deadline')
                                .col-auto= self.blocks.join.deadline
                        if self.blocks.join.price
                            .row.my-2
                                strong.col-1
                                    .price.pl-1 €
                                strong.col-auto= self.blocks.join.price
                        if self.blocks.join.how
                            h2.mt-4= self.blocks.join.how
                        if self.blocks.join.button.url && self.blocks.join.button.title
                            a.btn.btn-primary.mt-4.mb-2.w-100(href=self.blocks.join.button.url, target='_blank')= self.blocks.join.button.title

        if self.blocks && self.blocks.agenda
            #agenda.row.py-5
                .block.col-12.col-lg-6.offset-lg-1
                    h2=self.blocks.agenda.title
                    +markdown(self.blocks.agenda.text)

        if self.blocks && self.blocks.facilitators
            #facilitators.row.py-5
                .block.col-12.col-lg-6.offset-lg-1
                    h2=self.blocks.facilitators.title
                    each person, id in self.blocks.facilitators.people
                        .row.my-5
                            .col-3
                                img.img-fluid.rounded-circle(src=person.picture)
                            .col-12.col-lg-9
                                +markdown(person.text)


block stylus
    :stylus
        #header
            min-height 500px
            background-repeat no-repeat
            background-position center top
            background-size cover
            background-image url('/images/civic-hackathon-website-header-image.png')

            h1
                color #FFFFFF
                font-size 46px
                font-weight bold
                line-height 64px
                text-align center
                text-shadow 0px 0px 20px rgba(0, 0, 0, 0.5)

        #text
            background-color #FFFFFF

        #agenda
            background-color #F7F7F7

        #join
            border-radius 6px
            background-color #F7F7F7

            h2
                font-size 18px

            .price
                font-size 22px
                line-height 22px

        #footer
            min-height 150px
            background #F7F7F7
            font-size 14px

        @media only screen and (max-width: 576px)
            #header
                h1
                    font-size 32px
                    line-height 40px
