extends /_templates/main.pug


block content
    .container-fluid
        #header.row.py-5
            .col-12.text-center
                a.navbar-brand(href=self.rootUrl)
                    img.mb-3(src='/assets/images/pyln-logo-negative.png', height=200, width=180, alt='Citizen OS logo')
            .col-12.col-lg-8.offset-lg-2.text-center
                if self.blocks && self.blocks.header
                    h1= self.blocks.header.title
        #text.row.py-5
            .block.col-12.col-lg-6.offset-lg-1
                if self.blocks && self.blocks.text
                    +markdown(self.blocks.text.text)
            .block.col-12.col-lg-3.offset-lg-1
                #join.p-4
                    if self.blocks && self.blocks.join
                        h2= self.blocks.join.title
                        if self.blocks.join.date
                            .row.my-2
                                .col-1
                                    img(src='/assets/images/webinar-calendar.svg', height=22, width=20)
                                .col-auto= self.blocks.join.date
                        if self.blocks.join.time
                            .row.my-2
                                .col-1
                                    img(src='/assets/images/webinar-clock.svg', height=22, width=20)
                                .col-auto= self.blocks.join.time
                        if self.blocks.join.deadline
                            .row.my-2
                                .col-1
                                    img(src='/assets/images/webinar-alarm.svg', height=22, width=20, title='Deadline')
                                .col-auto= self.blocks.join.deadline
                        if self.blocks.join.price
                            .row.my-2
                                strong.col-1
                                    .price.pl-1 €
                                strong.col-auto= self.blocks.join.price
                        if self.blocks.join.how
                            h2.mt-4= self.blocks.join.how
                        if self.blocks.join.button
                            a.btn.btn-primary.mt-4.mb-2.w-100(href=self.blocks.join.button.url, target='_blank')= self.blocks.join.button.title
