mixin icon(data = {})
    - data = { ...data, ...attributes }
    case data.type
        when 'arrow-right'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(d='M14.5467 6.31262C14.1471 5.89579 13.4991 5.89579 13.0994 6.31262C12.6997 6.72945 12.6997 7.40527 13.0994 7.8221L16.0816 11H6C5.43478 11 5 11.4108 5 12.0003C5 12.5897 5.43478 12.9824 6 12.9824H16.0816L13.0994 16.1779C12.6997 16.5947 12.6997 17.2705 13.0994 17.6874C13.4991 18.1042 14.1471 18.1042 14.5467 17.6874L20 12L14.5467 6.31262Z' fill='currentColor')

        when 'arrow-small-down'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(d='M11.5 15L9.5 15L12 19L14.5 15L12.5 15L12.5 6L11.5 6L11.5 15Z' fill='currentColor')

        when 'arrow-small-right'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(d='M15 12.5V14.5L19 12L15 9.5V11.5H6V12.5H15Z' fill='currentColor')

        when 'checkmark'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(d='M9.38602 14.8088L17.5256 6L19 7.59558L9.38602 18L5 13.2534L6.47436 11.6578L9.38602 14.8088Z' fill='currentColor')

        when 'discussions'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(fill-rule='evenodd' clip-rule='evenodd' d='M24 11.3139C24 17.0101 18.627 21.6278 12 21.6278C10.811 21.6295 9.62687 21.478 8.478 21.177C7.6035 21.6131 5.592 22.45 2.208 22.9952C1.9095 23.0423 1.68 22.7358 1.7985 22.4618C2.3295 21.23 2.8095 19.5886 2.955 18.0916C1.1145 16.2793 0 13.9071 0 11.3139C0 5.61769 5.373 1 12 1C18.627 1 24 5.61769 24 11.3139ZM9 14C9 14.5523 8.55229 15 8 15C7.44772 15 7 14.5523 7 14C7 13.4477 7.44772 13 8 13C8.55229 13 9 13.4477 9 14ZM12 15C12.5523 15 13 14.5523 13 14C13 13.4477 12.5523 13 12 13C11.4477 13 11 13.4477 11 14C11 14.5523 11.4477 15 12 15ZM16 15C16.5523 15 17 14.5523 17 14C17 13.4477 16.5523 13 16 13C15.4477 13 15 13.4477 15 14C15 14.5523 15.4477 15 16 15Z' fill='currentColor')

        when 'donate'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(fill-rule='evenodd' clip-rule='evenodd' d='M3.94009 11.5218C4.08408 11.9629 4.24376 12.3224 4.41984 12.6325C4.59591 12.9265 4.80407 13.2205 5.0279 13.5146C5.25174 13.8086 5.41213 14.0044 5.52405 14.1194C5.58 14.1765 5.63621 14.2284 5.68276 14.2714C5.71568 14.3017 5.74378 14.3277 5.76357 14.3479L11.3317 19.837C11.4443 19.9512 11.5719 20 11.7323 20C11.892 20 12.0203 19.9512 12.1322 19.837L17.6839 14.3639C19.044 12.9753 19.7319 11.6033 19.7319 10.2635C19.7319 8.92431 19.3484 7.87846 18.5964 7.12737C17.8443 6.37555 16.8042 6 15.4762 6C15.092 6 14.7241 6.0655 14.3399 6.19578C13.9564 6.32678 13.5878 6.50655 13.2678 6.71907C12.9625 6.92683 12.6968 7.12136 12.4705 7.30211C12.4479 7.32018 12.4256 7.3381 12.4038 7.3559C12.18 7.53566 11.9397 7.74818 11.7323 7.97671C11.5241 7.74818 11.2839 7.53566 11.0601 7.3559C11.0384 7.33821 11.0163 7.32039 10.9938 7.30244C10.7674 7.1216 10.5015 6.92696 10.1961 6.71907C9.87602 6.50655 9.50819 6.32678 9.12396 6.19578C8.73973 6.0655 8.3719 6 8.00407 6C6.65962 6 5.61957 6.37555 4.86751 7.12737C4.11545 7.87846 3.73193 8.92431 3.73193 10.2635C3.73193 10.6725 3.79609 11.0968 3.94009 11.5218ZM8.802 7.14253C8.50782 7.04287 8.24884 7 8.00407 7C6.8528 7 6.09362 7.31563 5.5745 7.83459L5.57416 7.83493C5.05299 8.35542 4.73193 9.12195 4.73193 10.2635C4.73193 10.5673 4.77947 10.8829 4.88721 11.201L3.94009 11.5218L4.8907 11.2115C5.01468 11.5912 5.14655 11.8854 5.2838 12.1287C5.43263 12.3761 5.61469 12.6344 5.82358 12.9088C6.0455 13.2004 6.17377 13.3529 6.23965 13.4209C6.26928 13.451 6.30213 13.4821 6.34099 13.518C6.34604 13.5227 6.35187 13.5281 6.35807 13.5338C6.37233 13.547 6.38859 13.562 6.40195 13.5745C6.41961 13.591 6.44472 13.6146 6.47037 13.6404L11.7319 18.8273L16.9755 13.658C18.2319 12.3733 18.7319 11.2409 18.7319 10.2635C18.7319 9.12194 18.4109 8.35542 17.8897 7.83493L17.8894 7.83459C17.3691 7.3145 16.6091 7 15.4762 7C15.2127 7 14.9537 7.0437 14.6621 7.14246C14.3573 7.24667 14.0688 7.38819 13.8254 7.54917C13.5094 7.76447 13.2472 7.95862 13.0355 8.13108L13.03 8.1356L13.03 8.13558C12.8302 8.29599 12.633 8.47228 12.4727 8.64883L11.7336 9.46315L10.993 8.65009C10.8314 8.47265 10.6335 8.29589 10.4339 8.13558L10.4283 8.1311L10.4283 8.13108C10.2167 7.95861 9.9545 7.76446 9.63843 7.54916C9.39463 7.3879 9.10678 7.24652 8.802 7.14253Z' fill='currentColor')

        when 'followup'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                rect(width='24' height='24' rx='12' fill='currentColor')
                path(d='M13.8933 7.52941L13.6 6H7V19H8.46667V13.6471H12.5733L12.8667 15.1765H18V7.52941H13.8933Z' fill='white')

        when 'hamburger-close'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(d='M12.0002 11.7928L17.3035 6.48956L18.0106 7.19667L12.7073 12.4999L18.0107 17.8033L17.3036 18.5104L12.0002 13.207L6.69685 18.5104L5.98975 17.8033L11.2931 12.4999L5.9899 7.19667L6.69701 6.48956L12.0002 11.7928Z' fill='currentColor')

        when 'hamburger'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(fill-rule='evenodd' clip-rule='evenodd' d='M20 7H4V8H20V7ZM4 12H20V13H4V12ZM4 17H20V18H4V17Z' fill='currentColor')

        when 'ideation'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(fill-rule='evenodd' clip-rule='evenodd' d='M21 11.95C20.4477 11.95 20 11.5023 20 10.95C20 10.3977 20.4477 9.95 21 9.95H22C22.5523 9.95 23 10.3977 23 10.95C23 11.5023 22.5523 11.95 22 11.95H21ZM19.747 3.20697C19.3568 2.81684 18.7241 2.81772 18.335 3.20893L17.9511 3.59501C17.5636 3.98468 17.5644 4.61445 17.953 5.00304C18.3432 5.39317 18.976 5.39228 19.365 5.00107L19.7489 4.61499C20.1364 4.22532 20.1356 3.59556 19.747 3.20697ZM11 1.95C11 2.50229 11.4477 2.95 12 2.95C12.5523 2.95 13 2.50228 13 1.95V1C13 0.447715 12.5523 4.82833e-08 12 0C11.4477 -4.82833e-08 11 0.447716 11 1V1.95ZM3 9.95C3.55229 9.95 4 10.3977 4 10.95C4 11.5023 3.55228 11.95 3 11.95H2C1.44772 11.95 1 11.5023 1 10.95C1 10.3977 1.44772 9.95 2 9.95H3ZM5.67304 3.19696C5.28508 2.80684 4.65405 2.80596 4.265 3.195C3.87596 3.58404 3.87684 4.21508 4.26696 4.60303L4.65805 4.99195C5.04605 5.37779 5.67309 5.37691 6.06 4.99C6.44692 4.60309 6.44779 3.97604 6.06196 3.58805L5.67304 3.19696ZM5.76126 10.8921C5.76126 7.32323 8.83056 4.80016 12.0014 4.80016C15.1722 4.80016 18.2413 7.32346 18.2413 10.8921C18.2413 13.4127 17.2368 14.8482 16.3217 16.156C15.6515 17.1139 15.0292 18.0032 14.8845 19.2002H9.12454C8.97976 18.003 8.35618 17.1136 7.68455 16.1557C6.76767 14.8479 5.76126 13.4125 5.76126 10.8921ZM9.12313 21.1228H14.8831V20.1602H9.12313V21.1228ZM9.12313 22.0802H14.8831C14.8831 23.1405 14.0235 24.0002 12.9631 24.0002H11.0431C9.98275 24.0002 9.12313 23.1405 9.12313 22.0802Z' fill='currentColor')

        when 'language'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(fill-rule='evenodd' clip-rule='evenodd' d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 19C12.5217 19 13.2633 18.5511 13.934 17.2096C14.2718 16.5341 14.5497 15.7032 14.7369 14.7628C13.9331 14.5942 13.0017 14.5 12 14.5C10.9983 14.5 10.0669 14.5942 9.26308 14.7628C9.45035 15.7032 9.72822 16.5341 10.066 17.2096C10.7367 18.5511 11.4783 19 12 19ZM12 13.5C13.034 13.5 14.0195 13.5946 14.8945 13.7742C14.963 13.2096 15 12.6155 15 12C15 11.3845 14.963 10.7904 14.8945 10.2258C14.0195 10.4054 13.034 10.5 12 10.5C10.966 10.5 9.98054 10.4054 9.10553 10.2258C9.03697 10.7904 9 11.3845 9 12C9 12.6155 9.03697 13.2096 9.10553 13.7742C9.98054 13.5946 10.966 13.5 12 13.5ZM9.26308 9.23724C9.45035 8.29677 9.72822 7.46592 10.066 6.79036C10.7367 5.44895 11.4783 5 12 5C12.5217 5 13.2633 5.44895 13.934 6.79036C14.2718 7.46592 14.5497 8.29677 14.7369 9.23724C13.9331 9.40583 13.0017 9.5 12 9.5C10.9983 9.5 10.0669 9.40583 9.26308 9.23724ZM15.8708 9.97541C15.9551 10.622 16 11.3005 16 12C16 12.6995 15.9551 13.378 15.8708 14.0246C16.0658 14.0859 16.2524 14.1524 16.4295 14.2237C17.1155 14.5001 17.7414 14.8879 18.1214 15.398C18.6811 14.3918 19 13.2331 19 12C19 10.7669 18.6811 9.6082 18.1214 8.60196C17.7414 9.11213 17.1155 9.49987 16.4295 9.77627C16.2524 9.84765 16.0658 9.91408 15.8708 9.97541ZM17.4838 7.64888C17.4006 8.03284 16.9896 8.47245 16.0558 8.84873C15.9439 8.89383 15.8267 8.93692 15.7048 8.97792C15.4033 7.50145 14.8877 6.24543 14.235 5.3644C15.5283 5.79982 16.6525 6.60269 17.4838 7.64888ZM8.29525 8.97792C8.17326 8.93692 8.05614 8.89383 7.94423 8.84873C7.01037 8.47245 6.5994 8.03284 6.51624 7.64888C7.34746 6.60269 8.47174 5.79982 9.76495 5.3644C9.11231 6.24543 8.59666 7.50145 8.29525 8.97792ZM5.87863 8.60196C6.25856 9.11213 6.88452 9.49987 7.57049 9.77627C7.74764 9.84765 7.9342 9.91408 8.1292 9.97541C8.04488 10.622 8 11.3005 8 12C8 12.6995 8.04488 13.378 8.1292 14.0246C7.9342 14.0859 7.74764 14.1524 7.57049 14.2237C6.88452 14.5001 6.25856 14.8879 5.87863 15.398C5.31886 14.3918 5 13.2331 5 12C5 10.7669 5.31886 9.6082 5.87863 8.60196ZM14.235 18.6356C14.8877 17.7546 15.4033 16.4986 15.7048 15.0221C15.8267 15.0631 15.9439 15.1062 16.0558 15.1513C16.9896 15.5276 17.4006 15.9672 17.4838 16.3511C16.6525 17.3973 15.5283 18.2002 14.235 18.6356ZM9.76495 18.6356C8.47174 18.2002 7.34746 17.3973 6.51624 16.3511C6.5994 15.9672 7.01037 15.5276 7.94423 15.1513C8.05614 15.1062 8.17326 15.0631 8.29525 15.0221C8.59666 16.4986 9.11231 17.7546 9.76495 18.6356Z' fill='currentColor')

        when 'play'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(d='M16 12L7 6V18L16 12Z' fill='currentColor')

        when 'voting'
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class=data.class)
                path(fill-rule='evenodd' clip-rule='evenodd' d='M0 12C0 5.376 5.376 0 12 0C18.624 0 24 5.376 24 12C24 18.624 18.624 24 12 24C5.376 24 0 18.624 0 12ZM3.6 12L9.6 18L20.4 7.2L18.708 5.496L9.6 14.604L5.292 10.308L3.6 12Z' fill='currentColor')
