mixin youtube(data = {})
    - data = { height: 390, width: 640, ...data, ...attributes }

    .hidden.fixed.inset-0.bg-black.bg-opacity-90(id=`${data.video}-container`)
        .fixed.inset-0.z-10.overflow-y-auto
            .min-h-full.flex.items-center.justify-center.cursor-pointer
                iframe.relative.overflow-hidden.rounded-lg.shadow-xl.sm_w-full.sm_max-w-3xl.w-full.aspect-video(id=`${data.video}-video` src='' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')

    script.
        if (location.hash === '##{data.video}') {
            document.getElementById('#{data.video}-video').setAttribute('src', 'https://www.youtube.com/embed/#{data.video}?rel=0&showinfo=0&modestbranding=1&autoplay=1&cc_load_policy=1&cc_lang_pref=#{self.locale}')
            document.getElementById('#{data.video}-container').classList.remove('hidden')
        }

        window.addEventListener('hashchange', function () {
            if (location.hash !== '##{data.video}') return

            document.getElementById('#{data.video}-video').setAttribute('src', 'https://www.youtube.com/embed/#{data.video}?rel=0&showinfo=0&modestbranding=1&autoplay=1&cc_load_policy=1&cc_lang_pref=#{self.locale}')
            document.getElementById('#{data.video}-container').classList.remove('hidden')
        }, false)

        document.addEventListener('click', function (event) {
            if (!event.target.matches('##{data.video}-container > .fixed > .flex')) return

            document.getElementById('#{data.video}-container').classList.add('hidden')
            document.getElementById('#{data.video}-video').setAttribute('src', '')

            history.pushState('', document.title, window.location.pathname + window.location.search)
        }, false)
