footer
    .footer-border.h-2.w-full
    .w-full.lg_container.lg_mx-auto.pt-4.pb-8.md_pb-4.lg_py-6.px-4.md_px-6.lg_px-28.grid.grid-cols-12
        .col-span-12.lg_col-span-5.py-4.lg_py-6
            a(href=rootUrl)
                img.h-10(src='/assets/v2/images/cos_logo.svg' alt='COS Logo')
        .col-span-6.md_col-span-4.lg_col-span-2.pt-4.lg_pt-6
            h3.mb-4.text-xs.font-semibold.uppercase.opacity-60= self.footer.navigation.about.title
            each link in self.footer.navigation.about.links
                a.block.mb-4.text-sm(href=link.url)= link.title
        .col-span-6.md_col-span-4.lg_col-span-2.pt-4.lg_pt-6
            h3.mb-4.text-xs.font-semibold.uppercase.opacity-60= self.footer.navigation.support.title
            each link in self.footer.navigation.support.links
                a.block.mb-4.text-sm(href=link.url)= link.title
        .col-span-12.md_col-span-4.lg_col-span-3.pt-4.lg_pt-6
            if self.footer.navigation.community
                h3.mb-4.md_mb-2.text-xs.font-semibold.uppercase.opacity-60= self.footer.navigation.community.title
                .flex.flex-wrap.gap-6
                    each link in self.footer.navigation.community.links
                        a.text-sm(href=link.url target='_blank')
                            img.inline.h-8.w-8(src=link.icon alt=link.title)
