- const rootUrl = self.locale === 'en' ? '/' : `/${self.locale}/`
- const pageTitle = self.title ? `${self.title} · ${self.siteTitle}` : self.siteTitle
- const pagePath = `${self.path}/`.replaceAll('//', '/')

doctype html
html(lang=self.locale)
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')

        meta(property='og:type' content='website')
        meta(property='og:url' content='https://citizenos.com' + pagePath)
        meta(property='og:title' content=pageTitle)
        if self.description
            meta(property='og:description' content=self.description)
            meta(name='description' content=self.description)
        if self.keywords
            meta(name='keywords' content=self.keywords.join(','))
        if self.image
            meta(property='og:image' content='https://citizenos.com' + self.image)

        title=pageTitle

        link(href=pagePath rel='canonical')

        link(href='/assets/v2/images/favicon.ico' rel='shortcut icon' type='image/x-icon')
        link(href='/assets/v2/images/favicon.png' rel='icon' type='image/png' sizes='192x192')

        link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=cyrillic-ext,latin-ext' rel='stylesheet')
        link(href='/style-v2.css' rel='stylesheet')

        style
            block stylus

        script(src='https://stats.citizenos.com/js/index.js' data-domain='citizenos.com' async defer)

    body
        include mixins.pug

        block body
            include navbar.pug

            block content

            //- include mailchimp.pug
            include footer.pug

        //- script(src='/script.js')

        block script
