mixin markdown(text='')
    | !{ self.md(text) }

mixin section()
    div(class=attributes.class)
        .container.mx-auto.py-32.px-28
            if attributes.title
                h2= attributes.title
            if attributes.text
                .px-28.pb-8.text-center
                    +markdown(attributes.text)

            block

mixin button()
    -
        btnClass = {
            'py-4 px-10': attributes.title,
            'p-4': !attributes.title,
            'pl-8': attributes.title && attributes.icon,
            'hover_!shadow-none': true,
            [attributes.class]: true
        }
        iconClass = {
            'mr-2': attributes.title
        }

    a.inline-flex.items-center.cursor-pointer.font-semibold.rounded-full.border-2.hover_bg-transparent(
        href=attributes.url
        target=attributes.target
        class=btnClass
        style='box-shadow:0px 16px 40px rgba(0,0,0,.04)'
    )
        if attributes.icon
            img.h-6.w-6(src=attributes.icon class=iconClass)
        = attributes.title

mixin button-primary()
    +button(
        icon=attributes.icon
        title=attributes.title
        url=attributes.url
        class=attributes.class + ' text-white border-black bg-black hover_text-black hover_border-black'
        target=attributes.target
    )

mixin button-secondary()
    +button(
        icon=attributes.icon
        title=attributes.title
        url=attributes.url
        class=attributes.class + ' text-black border-white bg-white hover_border-black'
        target=attributes.target
    )

mixin button-grey()
    +button(
        icon=attributes.icon
        title=attributes.title
        url=attributes.url
        class=attributes.class + ' text-black border-grey-300 bg-grey-300 hover_border-grey-500'
        target=attributes.target
    )

mixin button-purple()
    +button(
        icon=attributes.icon
        title=attributes.title
        url=attributes.url
        class=attributes.class + ' text-pink-700 border-purple-50 bg-purple-50 hover_border-purple-100'
        target=attributes.target
    )
