mixin markdown(text = '')
    | !{ self.md(text) }

mixin header(data = {})
    - data = { ...data, ...attributes }
    div(class=data.class)
        .w-full.lg_h-146.lg_container.lg_mx-auto.px-4.md_px-6.lg_px-28.grid.grid-cols-1.lg_grid-cols-2.gap-12
            .lg_order-2.pt-12.pb-0.md_pb-8.lg_py-0.flex.flex-col.items-center.lg_items-start.justify-center.text-center.lg_text-left
                if data.title
                    h1.mb-6.text-7xl.font-bold= data.title
                if data.text
                    +markdown(data.text)
                if data.button1 || data.button2
                    .mt-10.w-full.md_w-auto.flex.flex-col.md_flex-row.flex-wrap.gap-6
                        if data.button1
                            +button-primary(data.button1)(class='w-full md_w-auto')
                        if data.button2
                            +button-secondary(data.button2)(class='w-full md_w-auto')
            .lg_order-1.flex.justify-start.items-end
                if data.image
                    img.mx-auto.h-80.md_h-146.lg_h-fit.lg_w-full.object-contain(src=data.image)

mixin banner(data = {})
    - data = { ...data, ...attributes }
    div(class=data.class)
        .w-full.lg_container.lg_mx-auto.px-4.pb-10.md_pb-0.md_px-6.lg_px-28.flex.flex-col.md_flex-row.items-center.gap-12
            if data.image
                img.mx-auto.h-52.w-52.object-contain(src=data.image)
            .w-full.md_my-8.md_w-auto.flex.grow.flex-col.xl_flex-row.justify-center.md_justify-start.gap-6
                .text-center.md_text-left
                    if data.title
                        h2.mb-6.text-4xl.md_text-left.font-bold= data.title
                    if data.text
                        +markdown(data.text)

                if data.button1 || data.button2
                    .w-full.md_w-auto.flex.flex-col.md_flex-row.items-center.justify-center.md_justify-start.gap-6
                        if data.button1
                            +button-primary(data.button1)(class='h-fit w-full md_w-auto')
                        if data.button2
                            +button-secondary(data.button2)(class='h-fit w-full md_w-auto')

mixin section(data = {})
    -
        data = { ...data, ...attributes }
        data.class += ' py-10 md_py-14 lg_py-32'

        const flexClass = {
            'flex-row items-center justify-center': data.left,
            'flex-col text-center': !data.left
        }

        const headerClass = {
            'mb-0': data.left
        }

        const textClass = {
            'px-4 md_px-6 lg_px-28': !data.left
        }
    div(class=data.class)
        .w-full.lg_container.lg_mx-auto.px-4.md_px-6.lg_px-28
            .flex.pb-8(class=flexClass)
                if data.title
                    h2(class=headerClass)= data.title
                if data.text
                    div(class=textClass)
                        +markdown(data.text)
            block

mixin section-2-columns(data = {})
    - data = { ...data, ...attributes }
    +section(data)
        .grid.grid-cols-1.lg_grid-cols-2.gap-10
            for col in data.columns
                div
                    if col.image
                        img.md_float-left.w-28.aspect-square.mr-4.mb-6.md_mb-4.object-fit.bg-white.rounded-2xl(class='md_max-w-1/3' src=col.image)
                    if col.title
                        h3.lg_h-28.mb-4.flex.items-center.text-xl.font-semibold= col.title
                    .md_ml-32.lg_ml-0
                        +markdown(col.text)
                        if col.link
                            a.flex.items-center.font-bold.text-yellow-700(href=col.link.url)
                                = col.link.title
                                img.h-6.w-6.ml-2(src='/assets/v2/images/icons/arrow-small-down.svg')

mixin section-3-columns(data = {})
    - data = { ...data, ...attributes }
    +section(data)
        .grid.grid-cols-1.lg_grid-cols-3.gap-10
            for col in data.columns
                .flex.flex-col.md_flex-row.lg_flex-col.gap-6
                    if col.image
                        img.h-36.lg_h-60.max-w-full.lg_w-full.object-fit.bg-green-50.rounded-2xl(class='md_max-w-1/3' src=col.image)
                    .grow.flex.flex-col
                        if col.title
                            h3.mb-4.text-xl.font-semibold= col.title
                        .lg_grow
                            +markdown(col.text)
                        if col.link
                            a.flex.items-center.font-bold.text-green-500(href=col.link.url)
                                img.h-6.w-6.mr-2(src='/assets/v2/images/icons/arrow-small-right.svg')
                                = col.link.title

mixin section-4-columns(data = {})
    - data = { ...data, ...attributes }
    +section({ left: true, ...data })
        .grid.grid-cols-1.lg_grid-cols-4.gap-10
            for col in data.columns
                .flex.flex-col.md_flex-row.lg_flex-col.gap-6
                    if col.image
                        img.h-36.lg_h-60.max-w-full.lg_w-full.object-fit.bg-blue-50.rounded-2xl(class='md_max-w-1/3' src=col.image)
                    .flex.flex-col.items-center.justify-center.text-center
                        if col.title
                            h3.mb-4.text-xl.font-semibold= col.title
                        +markdown(col.text)

mixin section-media(data = {})
    -
        data = { ...data, ...attributes }

        const sectionData = { ...data }
        delete sectionData.title
        delete sectionData.text

        const textClass = {
            'lg_order-2': data.mediaLeft
        }

        const mediaClass = {
            'lg_order-1': data.mediaLeft
        }
    +section(sectionData)
        .grid.grid-cols-1.lg_grid-cols-2.gap-10
            .pt-12.pb-0.md_pb-8.lg_py-0(class=textClass)
                if data.title
                    h2.lg_text-left= data.title
                if data.text
                    .text-center.lg_text-left
                        +markdown(data.text)
            div(class=mediaClass)
                if data.video
                    a.w-full.aspect-vhs.flex.items-center.justify-center.bg-white.bg-cover.rounded-2xl(
                        href=data.video
                        target='_blank'
                        style=`background-image: url('${data.image}')`
                    )
                        img.h-20.w-20.md_h-32.md_w-32(src='/assets/v2/images/icons/play.svg')
                else
                    img.w-full(src=data.image)

mixin button(data = {})
    -
        data = { ...data, ...attributes }

        const btnClass = {
            'py-4 px-10': data.title,
            'p-4': !data.title,
            'pl-8': data.title && data.icon,
            'hover_!shadow-none': true,
            [data.class]: true
        }

        const iconClass = {
            'mr-2': data.title
        }
    a.button.inline-flex.items-center.justify-center.cursor-pointer.font-semibold.whitespace-nowrap.rounded-full.border-2.hover_bg-transparent(
        id=data.id
        href=data.url
        target=data.target
        class=btnClass
    )&attributes(attributes)
        if data.icon
            img.h-6.w-6(src=data.icon class=iconClass)
        = data.title

mixin button-primary(data = {})
    -
        data = { ...data, ...attributes }
        data.class += ' text-white border-black bg-black hover_text-black hover_border-black'
    +button(data)

mixin button-secondary(data = {})
    -
        data = { ...data, ...attributes }
        data.class += ' text-black border-white bg-white hover_border-white'
    +button(data)

mixin button-grey(data = {})
    -
        data = { ...data, ...attributes }
        data.class += ' text-black border-grey-300 bg-grey-300 hover_border-grey-500'
    +button(data)

mixin button-purple(data = {})
    -
        data = { ...data, ...attributes }
        data.class += ' text-pink-700 border-purple-50 bg-purple-50 hover_border-purple-100'
    +button(data)
