.sticky.top-0.h-16.md_h-24.bg-white.flex.items-center
    .w-full.lg_container.lg_mx-auto.px-4.md_px-6.xl_px-0.flex.items-center.justify-between.gap-4.xl_gap-14
        a.grow(href=rootUrl)
            img.h-10(src='/assets/v2/images/cos_logo.svg' alt='COS Logo')

        .grow.hidden.lg_flex.items-center.justify-end.gap-4.xl_gap-14
            each nav in self.navigation
                a.py-8.text-black(href=nav.url)= nav.title

        .flex.items-center.justify-end.gap-4
            .relative.hidden.lg_flex
                +button-grey#language-button(icon='/assets/v2/images/icons/language.svg' title=self.locale.toUpperCase() class='!py-2 !px-6 !shadow-none')
                #language-menu.absolute.hidden.mt-4.py-2.z-10.bg-white.rounded-2xl
                    each t, l in self.languages
                        - const title = t ? `${l.toUpperCase()} – ${t}` : l.toUpperCase()
                        - const url = `${self.otherLocalePaths[l]}/`.replaceAll('//', '/')

                        if l === self.locale
                            .flex.items-center.justify-between.gap-2.py-2.pl-4.pr-2.hover_bg-grey-300.whitespace-nowrap.font-semibold= title
                                .h-6.w-6
                                    img.h-6.w-6(src='/assets/v2/images/icons/checkmark.svg')
                        else if self.otherLocalePaths[l]
                            a.flex.items-center.justify-between.gap-2.py-2.pl-4.pr-2.hover_bg-grey-300.whitespace-nowrap(href=url, data-language=l)= title
                                .h-6.w-6

            +button-purple.hidden.md_flex(icon='/assets/v2/images/icons/donate.svg' title=self.donateLink.title url=self.donateLink.title class='!py-2 !px-6 !shadow-none')
            +button-primary.hidden.md_flex(title=self.productLink.title url=self.productLink.url class='!py-2 !px-6 !shadow-none')
            +button-grey#menu-button.lg_hidden(icon='/assets/v2/images/icons/hamburger.svg' title='Menu' class='!py-2 !px-6 !shadow-none')

script.
    document.getElementById('language-button').addEventListener('click', function (event) {
        document.getElementById('language-menu').classList.toggle('hidden')
    })
