nav.sticky.top-0.bg-white.flex.items-center.z-50
    .w-full.h-16.md_h-24.lg_container.lg_mx-auto.px-4.md_px-6.flex.items-center.justify-between.gap-4.xl_gap-14
        a.grow(href=rootUrl)
            img.h-10(src='/v2/images/cos-logo.svg' alt='COS Logo')

        .grow.hidden.lg_flex.items-center.justify-center.gap-4.xl_gap-14
            each nav in self.navigation
                if nav.url.replaceAll('/', '') === self.path.replaceAll('/', '')
                    .active.h-16.md_h-24.pb-1.flex
                        a.pt-1.flex.items-center.justify-center.text-black.hover_text-black.bg-white(href=nav.url)= nav.title
                else
                    a.h-16.md_h-24.flex.items-center.justify-center.text-black.hover_text-black(href=nav.url)= nav.title

        .flex.items-center.justify-end.gap-4
            .relative.hidden.lg_block
                +button({
                    id: 'language-button',
                    class: '!py-2 !px-6 !shadow-none',
                    color: 'grey',
                    icon: 'language',
                    title: self.locale.toUpperCase()
                })
                #language-menu.absolute.hidden.mt-4.py-2.z-10.bg-white.rounded-2xl
                    each t, l in self.languages
                        - const title = t ? `${l.toUpperCase()} – ${t}` : l.toUpperCase()
                        - const url = `${self.otherLocalePaths[l]}/`.replaceAll('//', '/')

                        if l === self.locale
                            .flex.items-center.justify-between.gap-2.py-2.pl-4.pr-2.hover_bg-grey-300.whitespace-nowrap.font-semibold= title
                                .h-6.w-6
                                    +icon.h-6.w-6(type='checkmark')
                        else if self.otherLocalePaths[l]
                            a.flex.items-center.justify-between.gap-2.py-2.pl-4.pr-2.hover_bg-grey-300.whitespace-nowrap(href=url data-language=l)= title
                                .h-6.w-6

            +button({
                class: 'hidden md_flex !py-2 !px-6 !shadow-none',
                color: 'purple',
                icon: 'donate',
                ...self.donateLink
            })
            +button({
                class: 'hidden md_flex !py-2 !px-6 !shadow-none',
                color: 'black',
                ...self.productLink
            })
            +button({
                id: 'mobile-menu-open',
                class: 'lg_hidden !py-2 !px-6 !shadow-none',
                color: 'grey',
                icon: 'hamburger',
                title: self.mobileMenu
            })
            +button({
                id: 'mobile-menu-close',
                class: 'hidden lg_hidden !py-2 !px-6 !shadow-none',
                color: 'grey',
                icon: 'hamburger-close',
                title: self.mobileMenu
            })

#mobile-menu.hidden.z-10.w-full.md_w-80.p-4.fixed.inset-y-0.right-0.top-16.md_top-24.flex.flex-col.gap-3.bg-white.overflow-y-auto
    .mb-5.flex.flex-col
        each nav in self.navigation
            a.py-4.text-black.text-center(href=nav.url)= nav.title
    +button({
        class: 'md_hidden w-full !py-2 !px-6 !shadow-none',
        color: 'black',
        ...self.productLink
    })
    +button({
        class: 'md_hidden w-full !py-2 !px-6 !shadow-none',
        color: 'purple',
        icon: 'donate',
        ...self.donateLink
    })

    #mobile-language-button.py-2.px-2.flex.flex-col.cursor-pointer.font-semibold.text-black.whitespace-nowrap.rounded-3xl.border-2.border-grey-300.bg-grey-300
        .flex.items-center.justify-center
            +icon.h-6.w-6.mr-2(type='language')
            = self.locale.toUpperCase()

        #mobile-language-menu.hidden.mt-3.font-normal.bg-white.rounded-2xl
            - let idx = 0
            each t, l in self.languages
                - idx++
                - const title = t ? `${l.toUpperCase()} – ${t}` : l.toUpperCase()
                - const url = `${self.otherLocalePaths[l]}/`.replaceAll('//', '/')
                - const border = { 'border-t': idx !== 1 }

                if l === self.locale
                    .flex.items-center.justify-between.gap-2.py-3.pl-4.pr-2.whitespace-nowrap.font-semibold.border-grey-300(class=border)= title
                        .h-6.w-6
                            +icon.h-6.w-6(type='checkmark')
                else if self.otherLocalePaths[l]
                    a.flex.items-center.justify-between.gap-2.py-3.pl-4.pr-2.whitespace-nowrap.border-grey-300(href=url class=border)= title
                        .h-6.w-6

script.
    window.addEventListener('resize', function closeMobileMenu () {
        document.body.classList.remove('overflow-hidden')
        document.body.classList.remove('md_overflow-auto')
        document.getElementById('mobile-menu').classList.add('hidden')
        document.getElementById('mobile-menu-open').classList.remove('hidden')
        document.getElementById('mobile-menu-close').classList.add('hidden')
        document.getElementById('language-menu').classList.add('hidden')
        document.getElementById('mobile-language-menu').classList.add('hidden')
    })

    document.getElementById('language-button').addEventListener('click', function toggleLanguageMenu () {
        document.getElementById('language-menu').classList.toggle('hidden')
    })

    document.getElementById('mobile-language-button').addEventListener('click', function toggleMobileLanguageMenu () {
        document.getElementById('mobile-language-menu').classList.toggle('hidden')

        const menu = document.getElementById('mobile-menu')
        menu.scroll({ top: menu.scrollHeight, behavior: "smooth"})
    })

    document.getElementById('mobile-menu-open').addEventListener('click', toggleMobileMenu)
    document.getElementById('mobile-menu-close').addEventListener('click', toggleMobileMenu)

    function toggleMobileMenu () {
        document.body.classList.toggle('overflow-hidden')
        document.body.classList.toggle('md_overflow-auto')
        document.getElementById('mobile-menu').classList.toggle('hidden')
        document.getElementById('mobile-menu-open').classList.toggle('hidden')
        document.getElementById('mobile-menu-close').classList.toggle('hidden')
    }
