extends /_templates/blocks.pug


append content
    if self.blocks.hacktivist && self.blocks.hacktivist.blocks
        - var blocks = self.blocks.hacktivist.blocks
        #hacktivist-blocks.d-none
            .row.mt-5
                .col-12.col-md-3.ml-auto.px-md-0
                    .hacktivist-block.text-center.mx-auto.mb-3(style={ background: blocks.activist.background })
                        strong= blocks.activist.title
                    +markdown(blocks.activist.text)
                .col-12.col-md-1.text-center.hacktivist-sign +
                .col-12.col-md-3.px-md-0
                    .hacktivist-block.text-center.mx-auto.mb-3(style={ background: blocks.hacker.background })
                        strong= blocks.hacker.title
                    +markdown(blocks.hacker.text)
                .col-12.col-md-1.text-center.hacktivist-sign =
                .col-12.col-md-3.mr-auto.px-md-0
                    .hacktivist-block.text-center.mx-auto.mb-3(style={ background: blocks.hacktivist.background })
                        strong= blocks.hacktivist.title
                    +markdown(blocks.hacktivist.text)

    if self.blocks.chat && self.blocks.chat.blocks
        #chat-blocks.d-none
            .row.mt-5
                each b in self.blocks.chat.blocks
                    .col-12.col-sm-4.text-center
                        a.d-block.mb-4(href=b.url)
                            img.mb-2(src=b.icon, alt=b.alt)
                            br
                            = b.title
