extends /_templates/blocks.pug


append stylus
    :stylus
        header
            position relative
            background-color black
            min-height 73vh
            width 100%
            overflow hidden
            background-image url('/assets/images/frontpage-start-bg.jpg')
            background-repeat no-repeat
            background-position center
            background-size cover

            // video
            //     position absolute
            //     top 50%
            //     left 50%
            //     min-width 100%
            //     min-height 100%
            //     width auto
            //     height auto
            //     z-index 0
            //     -ms-transform translateX(-50%) translateY(-50%)
            //     -moz-transform translateX(-50%) translateY(-50%)
            //     -webkit-transform translateX(-50%) translateY(-50%)
            //     transform translateX(-50%) translateY(-50%)

            .container
                position relative
                z-index 2
                min-height 73vh

                h1
                    font-size 46px
                    font-weight bold

                a
                    color #ffffff

                .btn-primary
                    padding 0 !important
                    height 30px
                    width 30px
                    font-size 14px
                    line-height 30px
                    text-align center

            .overlay
                position absolute
                top 0
                left 0
                height 100%
                width 100%
                background-color black
                opacity 0.2
                z-index 1

        // @media (pointer: coarse) and (hover: none)
        //     header
        //         background url('/assets/videos/frontpage-start-bg.jpg') black no-repeat center center scroll
        //         video
        //             display none

        #video-popup
            .modal-content
                background #000000
                border none
                border-radius 0

        @media only screen and (max-width: 576px)
            header
                .container
                    h1
                        font-size 32px
                        line-height 40px

block header
    header
        .overlay
        //- video#video-bg(poster='/assets/videos/frontpage-start-bg.jpg', playsinline, autoplay, muted, loop)
        //-     source(src='/assets/videos/frontpage-start-bg.webm', type='video/webm')
        //-     source(src='/assets/videos/frontpage-start-bg.mp4', type='video/mp4')
        .container.d-flex
            .col-12.col-sm-10.offset-sm-1.h-100.w-100.pt-2.pb-3.text-white.text-center.align-self-center
                h1.mb-4= self.header.title
                +markdown(self.header.text)
                .row.mt-4
                    if self.header.play
                        .col-12.col-sm-6.mt-3.text-center.text-sm-right
                            a.btn.btn-primary.mr-2(href=self.header.play.url, data-toggle='modal', data-target='#video-popup')  ►
                            a(href=self.header.play.url, data-toggle='modal', data-target='#video-popup')
                                strong= self.header.play.title
                    if self.header.demo
                        .col-12.col-sm-6.mt-3.text-center.text-sm-left
                            a.btn.btn-primary.mr-2(href=self.header.demo.url, data-toggle='modal', data-target='#video-popup')  ►
                            a(href=self.header.demo.url, data-toggle='modal', data-target='#video-popup')
                                strong= self.header.demo.title

                    if self.header && self.header.whatIs
                        a.btn.btn-primary.mr-2(href=self.header.whatIs.url) ?
                        a.mr-5(href=self.header.whatIs.url)
                            strong= self.header.whatIs.title

                        a.btn.btn-primary.mr-2(href=self.header.whatIs.url, style='line-height:28px')
                            svg(width='14px', height='13px', viewBox='0 0 14 13', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                                g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                    g(transform='translate(-742.000000, -464.000000)', fill='#FFFFFF')
                                        path#icon_speechbubble(d='M753.404241,474.01593 C753.385242,474.142542 753.374792,474.272448 753.374792,474.404707 C753.374792,475.351702 754.187956,476.180087 755.124614,476.635228 L755.124614,477 C753.389517,476.960463 751.594572,476.693592 750.091264,475.20344 C749.735505,475.248154 749.371196,475.271687 748.999763,475.271687 C745.13391,475.271687 742,472.748407 742,469.635844 C742,466.52328 745.13391,464 748.999763,464 C752.865615,464 756,466.52328 756,469.635844 C756,471.404634 754.987345,472.982802 753.404241,474.01593 Z M752,471 C752.552285,471 753,470.552285 753,470 C753,469.447715 752.552285,469 752,469 C751.447715,469 751,469.447715 751,470 C751,470.552285 751.447715,471 752,471 Z M749,471 C749.552285,471 750,470.552285 750,470 C750,469.447715 749.552285,469 749,469 C748.447715,469 748,469.447715 748,470 C748,470.552285 748.447715,471 749,471 Z M746,471 C746.552285,471 747,470.552285 747,470 C747,469.447715 746.552285,469 746,469 C745.447715,469 745,469.447715 745,470 C745,470.552285 745.447715,471 746,471 Z')

                    if self.header && self.header.startUsing
                        a.mr-5(href=self.header.startUsing.url, target='_blank')
                            strong= self.header.startUsing.title


append content
    #news-blocks.d-none
        .row.mt-5.text-left
            #news-block-0.col-12.col-sm-4.mb-5.d-none
                .news-block.col-12.h-100.bg-white.box-shadow.p-0
                    a(target='_blank')
                        img.w-100
                    .py-3.px-3
                        h4.mt-0.mb-2
                        p
                        if self.blocks.news
                            a.my-2(target='_blank')= self.blocks.news.readMore
            #news-block-1.col-12.col-sm-4.mb-5.d-none
                .news-block.col-12.h-100.bg-white.box-shadow.p-0
                    img.w-100
                    .py-3.px-3
                        h4.mt-0.mb-2
                        p
                        if self.blocks.news
                            a.my-2(target='_blank')= self.blocks.news.readMore
            #news-block-2.col-12.col-sm-4.mb-5.d-none
                .news-block.col-12.h-100.bg-white.box-shadow.p-0
                    img.w-100
                    .py-3.px-3
                        h4.mt-0.mb-2
                        p
                        if self.blocks.news
                            a.my-2(target='_blank')= self.blocks.news.readMore

    #video-popup.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
            .modal-content
                .modal-body.embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')



append script
    script.
        $(function () {
            var getBrowserLocale = function () {
                var language
                if (navigator.languages && navigator.languages.length) {
                    language = navigator.languages[0]
                } else {
                    language = navigator.userLanguage || navigator.language || navigator.browserLanguage || 'en'
                }

                language = language.substring(0, 2)

                if (['en', 'et', 'ru', 'fi', 'fr'].indexOf(language) === -1) {
                    language = 'en'
                }

                return language
            }

            var getOtherLocalePath = function (locale) {
                var otherLocalePaths = JSON.parse('!{ JSON.stringify(self.otherLocalePaths) }')
                return otherLocalePaths[locale]
            }

            var savedLocale = window.localStorage.getItem('language')
            var browserLocale = getBrowserLocale()
            var pageLocale = '#{ self.locale }'

            if (pageLocale !== 'aa') {
                if (!savedLocale) {
                    window.localStorage.setItem('language',  browserLocale)

                    if (browserLocale !== pageLocale) {
                        window.location.replace(getOtherLocalePath(browserLocale) + '/')
                    }
                } else if (savedLocale !== pageLocale) {
                    window.location.replace(getOtherLocalePath(savedLocale) + '/')
                }
            }

            $('#video').removeClass('col-sm-6')

            $('.block.col-sm-4').removeClass('col-sm-6')
            $('.block-text.col-sm-8').addClass('col-sm-10')
            $('.block-text.col-sm-10').removeClass('col-sm-8')
            $('.block-text.col-sm-10').removeClass('.offset-sm-2')

            $('#news').removeClass('col-sm-6')
            $('#news .block-text').removeClass('col-sm-8')
            $('#news .block-text').removeClass('offset-sm-2')
            $('#news .block-text').addClass('col-sm-10')
            $('#news .block-text').addClass('offset-sm-1')
            if ('#{ self.locale }' === 'en') {
                $('#news .block-text h2').after($('#news-blocks').html())
                $('#news-blocks').remove()
            }

            $('#team .block-text').addClass('offset-sm-2')
            $('#team .block-text').removeClass('col-sm-10')
            $('#team .block-text').addClass('col-sm-8')

            $('#partners .block-text').removeClass('col-sm-10')
            $('#partners .block-text').addClass('col-sm-8')

            $.getJSON('https://citizenos.netlify.com/.netlify/functions/news', function (data) {
                var tag = 'technology'
                var news = []

                for (var i = 0; i < data.length; i++) {
                    //- if (data[i].tags.indexOf(tag) > -1) {
                    //-     news.push(data[i])
                    //- }
                    news.push(data[i])

                    if (news.length === 3) {
                        break
                    }
                }

                for (var i = 0; i < news.length; i++) {
                    $('#news-block-' + i + ' img').attr('src', news[i].picture)
                    $('#news-block-' + i + ' h4').html(news[i].title)
                    $('#news-block-' + i + ' p').html(news[i].text)
                    $('#news-block-' + i + ' a').attr('href', news[i].url)
                    $('#news-block-' + i).removeClass('d-none')
                }
            })

            $('a[data-target="#video-popup"]').click(function () {
                $('#video-popup iframe').attr('src', $(this).attr('href'))
                $('#video-bg').get(0).pause()
            })

            $('#video-popup').on('hide.bs.modal', function () {
                $('#video-popup iframe').attr('src', '')
                $('#video-bg').get(0).play()
            })
        })

//-             $(window).scroll(function () {
//-                 $('.scroll-out').each(function () {
//-                     var top = $(this).offset().top  - $(window).scrollTop() - $('nav').outerHeight(true)
//-
//-                     if (top < 0) {
//-                         $(this).css({ 'background-position': 'center ' + Math.pow(top, 2) * -0.005 + 'px' })
//-                     }
//-                 })
//-                 $('.scroll-in').each(function () {
//-                     var top = $(this).offset().top  - $(window).scrollTop() - $('nav').outerHeight(true)
//-
//-                     if (top > 0) {
//-                         $(this).css({ 'background-position': 'center ' + Math.pow(top, 2) * 0.0005 + 'px' })
//-                     }
//-                 })
//-             })
//-
//-             $(window).trigger('scroll')
