extends /_templates/main.pug


block content
    .container-fluid
        #header.row.py-5
            .col-12.py-5.text-center
                if self.blocks && self.blocks.header
                    h1= self.blocks.header.title
                    a.btn.btn-pink.mt-4(href=self.blocks.header.button.url, target='_blank')= self.blocks.header.button.title

        .container
            #text.row.py-5
                .block.col-12.col-lg-5
                    if self.blocks && self.blocks.text
                        +markdown(self.blocks.text.text)
                .block.col-12.col-lg-6.offset-lg-1
                    #usage.p-5
                        if self.blocks && self.blocks.usage
                            h2.mb-5.text-center= self.blocks.usage.title

                            each step, idx in self.blocks.usage.steps
                                .row.my-2
                                    .col-auto.py-1.pr-0.pl-0
                                        .usage-bullet= idx + 1
                                    .col
                                        +markdown(step)
                                if idx < self.blocks.usage.steps.length - 1
                                    .row.mb-3
                                        hr.w-100

    if self.blocks && self.blocks.how
        #how
            .container.py-5
                .row.py-5
                    .col-12
                        h2.text-center= self.blocks.how.title
                .row.pb-5
                    .col-12.col-md-4.mb-4
                        .how-box-title.py-2.px-3= self.blocks.how.bank.title
                        .how-box-text.p-3
                            +markdown(self.blocks.how.bank.text)
                    .col-12.col-md-4.mb-4
                        .how-box-title.py-2.px-3
                            img(src='/assets/images/donate-paypal.png', height=28)
                        .how-box-text.p-3
                            +markdown(self.blocks.how.paypal.text)
                    .col-12.col-md-4.mb-4
                        .how-box-title.py-2.px-3
                            img(src='/assets/images/donate-github.png', height=28)
                        .how-box-text.p-3
                            +markdown(self.blocks.how.github.text)

